* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* overflow: visible; */
}

.meme-card {
    border: 2px solid black;
    /* width: 50%; */
    box-shadow: 10px 10px 10px 5px grey, 0 0 10px 3px rgb(55, 47, 63);
    margin: 10px;
}

.meme-card img {
    width: 100%;
    padding: 0 10px;
    border-radius: 30px;
}

.meme-header {
    text-align: center;
    font-weight: bold;

}

.meme-footer {
    text-align: center;
}

