* {
    padding: 0;
    margin: 0;
}

.main {
    /* position:relative; */
    position: relative;
    top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outerClock {
    border: 4px solid grey;
    border-radius: 50%;
    height: 500px;
    margin: auto;
    width: 500px;
    position: relative;
    /* top: 50vh; */
    /* left: 50%; */
    
    /* /* margin: auto; */
}

.clock {
   border: 50px solid red;
    box-shadow: inset 0 0 20px 2px grey;
    border-radius: 50%;
    margin: auto;
    height: 400px;
    width: 400px;
    position: relative;
    
    
}

.innerClock {
    height: 395px;
    width: 395px;
    border-radius:50%;
    border: 2px solid white;
}

.center {
    background-color: hsl(33, 100%, 88%);
    border:10px solid bisque;
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 47.25%;
    z-index: 1;
}

.hands {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    background-color: black;
    height: 4px;
    transform-origin:left;
}



.secondsHand {
    width: 10rem;
    animation: time 20s infinite linear;
    /* transform: rotate(-90deg); */
    
}

.minutesHand {
    animation: time 60s infinite linear;
    width: 9rem;
}

.hoursHand {
    animation: time 300s infinite linear;
    width: 7rem;
}

.number {
    position:absolute;
    height: 1px;
    width: 5px;
    font-size:24px;
    font-weight: bolder;
    font-family: monospace;
}

.number3 {
    top: 47.75%;
    right: 4%;
}

.number6 {
    /* display:inline-block; */
    left: 48.5%;
    bottom: 7%;
}

.number9 {
    /* display: inline-block; */
    left: 2%;
    top: 47.75%;
}

.number12 {
    /* display:inline-block; */
    left:47%;
    top:1%;
}



@keyframes time {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

