* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: white;
  color: black;
  height: 100vh;
}

.App.dark {
  background-color: black;
  color: white;
}

.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  font-size: 1.4rem;
  padding: 5px 10px;
  cursor: pointer;
}

.theme-toggle.dark {
  background-color: black;
  color: white;
}

.todos {
  margin-top : 40px;
  background-color: white;
  color: black;
  padding: 5px 10px;

}

.todos.dark {
  background-color: black;
  color: white;
}

.todos .input input {
  padding: 5px;

}

.todos .input button {
  padding: 5px 10px;
  margin: 4px;
  
}

.todo-list {
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin: 10px 0;
}

.todo-list.dark {
  background-color: black;
  color: white;
}