@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    /* no idea what the nest two means (yet) */
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    /* background-color: #e24f3f; */
    background-color: black;
    /* border: 0.1px solid rgb(236, 93, 77); */
    border: 0.1px solid rgba(255, 255, 255, 0.15);
    z-index: 1;
}

.box:hover {
    cursor: pointer;
    /* background-color: rgb(236, 93, 77); */
    background-color: rgb(103 95 95);
}

.changeColor {
    background-color: transparent;
    border:0;
    animation: changeColorAnimation 2s ease infinite;
}

.changeColor:hover {
    background: transparent;
    cursor: pointer;
    animation: changeColorAnimation 2s ease infinite;
}

@keyframes changeColorAnimation {
    0% {
        background: violet;
    }
    14.28571% {
        background: indigo;
    }
    28.57142% {
        background: blue;
    }
    42.85713% {
        background: green;
    }
    57.14284% {
        background: yellow;
    }
    71.42855% {
        background: orange;
    }
    85.71426% {
        background: red;
    }
    100% {
        background: violet;
    }
}