* {
    margin: 0;
    padding: 0;
}

body {
    background: salmon;
}

.moves-container {
    position: absolute;
    bottom: 10%;
    left: 45%;
}

#game-end {
    width: 70%;
    height: 65%;
    position: absolute;
    /* top: 50%; */
    left: 15%;
    /* transform: translate(-50%, 0%); */
    background-image: linear-gradient(60deg, violet, rgb(212, 209, 7));
    border-radius: 10px;
    visibility: hidden;
    transition: all 0.667s 0s ease-in-out;
}

#game-end h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-won {
    visibility: visible !important;
    animation: appear 1s ease;
    /* transform: translate(-50%, -50%) !important; */
    top: 17%;
    z-index: 1;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

.container {

}

.tiles-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width:60%;
    gap: 2%;
    /* perspective: 1000px; */

}

.card {
    box-sizing: border-box;
    /* height: 100px;
    width: 100px; */
    
    /* background-color: aqua; */
    /* margin:1px; */
    height: 100%;
    width: 100%;
    transition: transform 0.25s;
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 150px;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    /* border: 1px solid black; */
    border: 0.5px solid black;
}

.front {
    background: #d6c341;
    border-radius: 10%;
    transform: rotateY(180deg);
}

.back {
    background: white;
    border-radius: 10%;
    transform: rotate(-180deg)
}

.card.is-flipped {
    transform: rotateY(-180deg);
}

.number {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xxx-large;
}

.card.hide{
    opacity: 0;
    visibility: hidden;
}

.front.found {
    background: green;
}


